{% extends "base.njk" %}

{% block content %}

<div class="container col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
        <div class="col-10 col-sm-8 col-lg-6">
            <img src="images/test.jpg" class="d-block mx-lg-auto img-fluid" alt="Test Image">
        </div>
        <div class="col-lg-6">
            <h1 class="display-5 fw-bold lh-1 mb-3">Unofficial Internet IQ Test</h1>
            <p class="lead">Welcome to the Unofficial Internet IQ Test! Test your intelligence and challenge your mind with our interactive quiz. Discover your IQ score and compare it with others. Are you ready to put your brain to the test? Start the quiz now!</p>
            <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                <a href="/quiz" class="btn btn-primary btn-lg px-4 me-md-2">Start Quiz</a>
            </div>
        </div>
    </div>
</div>
    
    {% endblock %}<!-- Path: views/homepage.njk -->
{# 
<h1>Unofficial Internet IQ Test</h1>

<p>
Welcome to the Unofficial Internet IQ Test! Test your intelligence and challenge your mind with our interactive quiz. Discover your IQ score and compare it with others. Are you ready to put your brain to the test? Start the quiz now!
</p>

<a href="/quiz" class="btn btn-primary">Start Quiz</a> #}
